* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Heebo, sans-serif;
}

/* .box {
  width: 1280px;
  background: red;
  height: 400px;
} */

/* .box {
  display: flex;
  gap: 200px;
  flex-wrap: wrap;
}

.child {
  width: 250px;
  height: 250px;
  background: red;
} */

button {
  border: none;
  color: #fff;
  border-radius: 5px;
}

#header .container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 100px;
}

#header {
  padding-block: 30px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.header a {
  font-size: clamp(0.938rem, 0.833rem + 0.52vw, 1.25rem);
  color: #000;
  font-weight: 600;
}

.burger-menu {
  display: none;
  justify-content: flex-end;
}
.burger-menu span {
  font-size: 28px;
}

#main {
  padding-block: 50px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.main-content {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.main-content h1 {
  font-size: clamp(1.875rem, 1.5rem + 1.88vw, 3rem);
}

.main-content p {
  font-size: clamp(0.75rem, 0.667rem + 0.42vw, 1rem);
}
.main-content button {
  font-size: clamp(0.75rem, 0.667rem + 0.42vw, 1rem);
  background: #ff6464;
  padding: 10px 20px;
}

.main img {
  width: 100%;
  max-width: 200px;
}
